.Smonth{
    background-color: rgb(138, 193, 255);
}
.Wmonth{
    background-color: rgb(255, 176, 86);
}
.Smax{
    background-color: rgb(96, 135, 178);
}
.Smin{
    background-color: rgb(138, 177, 255);
}
.Wmax{
    background-color: rgb(204, 140, 68);
}
.Wmin{
    background-color: rgb(255, 198, 86);
}